body {
    position: absolute;
    display: flex;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(21, 1, 1);
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.div_card {
    background-color: blueviolet;
    width: 50%;
    height: 70%;
    flex-direction: column;
}



.div_top {
    background-color: cadetblue;
    width: 100%;
    height: 15%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_content {
    background-color: red;
    width: 100%;
    height: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_result {
    background-color: brown;
    border: 2px solid black;
    width: 80%;
    height: 80%;
}

.div_content_numbers {
    background-color: rgb(165, 42, 138);
    border: 2px solid black;
    width: 80%;
    height: 90%;
}

#num7,
#num8,
#num9,
#divisao {
    text-align: center;
    width: 80%;
    height: 20%;
    margin: 0 auto;
    background-color: lightgray;

    position: relative;
    font-size: 15px;
    font-weight: 700;
}

#num7,
#num8,
#num9,
#divisao {
    text-align: center;
    width: 80%;
    height: 20%;
    margin: 0 auto;
    background-color: lightgray;

    position: relative;
    font-size: 15px;
    font-weight: 700;
}

#num4,
#num5,
#num6,
#multiplicacao {

    text-align: center;
    width: 80%;
    height: 20%;
    margin: 0 auto;
    background-color: lightgray;

    position: relative;
    font-size: 15px;
    font-weight: 700;
}


#num3,
#num2,
#num1,
#subtracao {
    text-align: center;
    width: 80%;
    height: 20%;
    margin: 0 auto;
    background-color: lightgray;

    position: relative;
    font-size: 15px;
    font-weight: 700;
}

#num0,
#ponto,
#resultado,
#soma
 {
    text-align: center;
    width: 80;
    height: 20%;
    margin: 0 auto;
    background-color: lightgray;

    position: relative;
    font-size: 15px;
    font-weight: 700;
}